<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> 
    
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:targetApi="33" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="sms" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:label="Седан"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true" 
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name="com.eilbay.kitaydan.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="optombai.com"
                    android:pathPrefix="/p" />
                <data
                    android:scheme="https"
                    android:host="www.optombai.com"
                    android:pathPrefix="/p" />
                <data
                    android:scheme="https"
                    android:host="optombai.vercel.app"
                    android:pathPrefix="/p" />
                <data
                    android:scheme="https"
                    android:host="optombai.com"
                    android:pathPrefix="/reel" />
                <data
                    android:scheme="https"
                    android:host="www.optombai.com"
                    android:pathPrefix="/reel" />
                <data
                    android:scheme="https"
                    android:host="optombai.vercel.app"
                    android:pathPrefix="/reel" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="optombai.com" android:pathPattern="/" />
                <data android:scheme="https" android:host="www.optombai.com" android:pathPattern="/" />
                <data android:scheme="https" android:host="optombai.vercel.app" android:pathPattern="/" />
                <data android:scheme="https" android:host="optombai.com" android:pathPrefix="/r" />
                <data android:scheme="https" android:host="www.optombai.com" android:pathPrefix="/r" />
                <data android:scheme="https" android:host="optombai.vercel.app" android:pathPrefix="/r" />
                <data android:scheme="https" android:host="optombai.com" android:pathPrefix="/register" />
                <data android:scheme="https" android:host="www.optombai.com" android:pathPrefix="/register" />
                <data android:scheme="https" android:host="optombai.vercel.app" android:pathPrefix="/register" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="optombai" android:host="product"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="optombai" android:host="reel"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="optombai" android:host="register"/>
            </intent-filter>

            <!-- kitaydan:// custom scheme used by web landing page (host=p|reel|r|register) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="kitaydan" android:host="p"/>
                <data android:scheme="kitaydan" android:host="reel"/>
                <data android:scheme="kitaydan" android:host="r"/>
                <data android:scheme="kitaydan" android:host="register"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/UCropTheme"/>
    </application>
</manifest>
